// iPhone 11 is the default, mobile first

$black: #2A2122;
$pink: #D1A7AC;

$buttonHeight: 61px;
$buttonWidth: 64.5px;

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.mainControls {
  position: fixed;
  bottom: 5px;
  right: 15px;
  width: 145px;
  height: 360px;
}

.button {
  @extend .noSelect;
  transition: background .15s linear;
  height: $buttonHeight;
  width: $buttonWidth;
  border-radius: 15px;
  font-family: "Inter Bold";
  font-size: 14px;
  text-align: center;
  background: $black;
  color: $pink;
  cursor: pointer;
}

.controlButton {
  @extend .button;
  border: 2px solid $black;
  float: right;
}

.activeButton {
  background: white;
  color: $black;
  border: 2px solid $pink;
}

.pressed {
  background: rgba(42, 33, 34, 0.25);
}

.buttonText {
  padding-top: 20px;
}

.lineHeightButtonText {
  padding-top: 12px;
}

.hideForIphone11 {
  visibility: hidden;
  height: 0;
  width: 0;
}

.showForIphone11 {
  visibility: visible;
}
// end of iPhone 11

// iMac
@media only screen and (min-width : 1280px) and (min-height : 720px) {
  .button {
    font-size: 14px;
  }
}
// end of iMac

// iPad Pro 11
@media only screen and (min-width: 834px) and (max-width: 1194px)  {
  $buttonHeight: 70px;
  $buttonWidth: 75px;

  .button {
    font-size: 16px;
    height: $buttonHeight;
    width: $buttonWidth;
  }
  // resets after adjusting dimensions above
  .hideForIphone11 {
    height: 0;
    width: 0;
  }
  .buttonText {
    padding-top: 25px;
  }
  .lineHeightButtonText {
    padding-top: 14px;
  }
}
// end of iPad Pro 11

// iPhone 8 - 1, Pixel 2, LG Stylo 5
@media only screen and (max-width: 412px) and (max-height: 823px) {
  $buttonHeight: 58px;
  $buttonWidth: 64.5px;
  
  .button {
    font-size: 13px;
    width: $buttonWidth;
    height: $buttonHeight;
  }
  .buttonText {
    padding-top: 21px;
  }
  .lineHeightButtonText {
    padding-top: 18%;
  }
  .hideForIphone8 {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .showForIphone8 {
    visibility: visible;
    height: $buttonHeight;
    width: $buttonWidth;
  }
}
// end of iPhone 8 - 1 css

