$black: rgba(0, 0, 0, 0.8);
$pink: #D1A7AC;

$buttonHeight: 87.5%;
$buttonWidth: 47.5%;

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.output {
  position: relative;
  margin: auto;
  margin-top: 11%;
  width: 56%;
  height: 35%;
  font-family: "Inter Bold";
  
}

.mainControls {
  position: fixed;
  bottom: 0px;
  right: 4%;
  width: 36%;
  height: 40%;
}

.logoButton {
  position: fixed;
  bottom: 3%;
  left: 5%;
  width: 13%;
  height: 3%;
  font-size: 24px;
  font-family: "Inter Bold";
  text-align: center;
}

.row {
  width: 100%;
  height: 20%;
}

.button {
  height: $buttonHeight;
  width: $buttonWidth;
  border-radius: 15px;
  font-family: "Inter Bold";
  font-size: 14px;
  text-align: center;
  background: #2A2122;
  color: $pink;
}

.mathButton {
  @extend .button;
  float: left;
  border-radius: 100px;
  background: $pink;
  color: $black;
}

.sizeButton {
  @extend .button;
  float: right;
}

.ratioButton {
  @extend .button;
  float: right;
}

.lineHeightButton {
  @extend .button;
  float: right;
}

.resetButton {
  @extend .button;
  float: right;
}

.settingsButton {
  @extend .button;
  float: right;
  background: white;
  color: $black;
  font-size: 30px
}

.activeButton {
  background: white;
  color: $black;
  border: 2px solid $pink;
  width: calc(#{$buttonWidth} - 4px);
  height: calc(#{$buttonHeight} - 4px);
}

.buttonText {
  padding-top: 30%;
}

.lineHeightButtonText {
  padding-top: 17.5%;
}

.settingsButtonText {
  padding-top: 17.5%;
}