// iPhone 11 is the default, mobile first

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logoButton {
  @extend .noSelect;
  position: fixed;
  bottom: 40px;
  left: 20px;
  width: 54px;
  font-family: "Inter Bold";
  text-align: center;
  cursor: pointer;
}
// end of iPhone 11


// iPhone 8 - 1
@media only screen
and (max-width : 375px)
and (max-height : 667px) {
  .logoButton {
    bottom: 15px;
    left: 16px;
  }
}
// end of iPhone 8 - 1

// iPad Pro 11
@media only screen and (min-width: 834px) and (max-width: 1194px)  {
  .logoButton {
    bottom: 32px;
    left: 35px;
    width: 72px;
  }
}
// end of iPad Pro 11

// iMac
@media only screen and (min-width : 1280px) and (min-height : 720px) {
  .logoButton {
    bottom: 28.5px;
    left: 25px;
    width: 55px;
  }
}