$black: #2A2122;
$rose: #D1A7AC;

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// stops selection for tapping of buttons in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.onboarding {
  @extend .noSelect;
  transition: top 400ms ease-out;
  -webkit-transition: top 400ms ease-out;
  position: absolute;
  width: 382px;
  height: 355px;
  top: 100vh;
  left: calc(50vw - 191px);
  background: white;
  color: $black;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 5;
}

.showOnboarding {
  top: 20vh;
}

.slideCard {
  transition: opacity 1s ease-in-out;
  width: 100%;
  height: 100%;
}

.fadedOut {
  opacity: 0;
}

.exitIcon {
  position: absolute;
  top: 24px;
  right: 31px;
  width: 16px;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 88px;
  left: 155px;
  width: 72px;
  padding: 10px 0px;
}

.inTextLogo {
  width: 39px;
  margin-left: 1px;
  margin-bottom: -1px;
}

.miniToolbar {
  position: absolute;
  top: 81px;
  left: 174px;
}

.settingsIcon {
  width: 16px;
  margin-bottom: -1.5px;
}

.mathButtonsContainer {
  position: absolute;
  top: 93px;
  left: 151px;
  width: 80px;
}

.mathButton {
  width: 38px;
  height: 34px;
  background: $rose;
  border-radius: 24px;
  float: left;
}

.mathButtonText {
  font-size: 10px;
  font-family: "Inter Bold";
  width: 100%;
  text-align: center;
  margin-top: 11px;
}

.text {
  position: absolute;
  top: 155px;
  left: 57px;
  color: $rose;
  font-size: 18px;
  font-family: "Inter";
  line-height: 21px;
  width: 278px;
  text-align: center;
}

.blackText {
  color: $black;
}

.increaseLineCountText {
  width: 100%;
  text-align: center;
  padding-top: 92px;
  font-size: 24px;
  font-family: "Inter Extra Bold"
}

.increaseLineCountBodyText {
  @extend .text;
  font-size: 17px;
  top: 145px;
}

.customizTextContainer {
  position: absolute;
  top: 88px;
  left: 117px;
}

.customizText {
  float: left;
  font-size: 32.6px;
  font-family: "Inter Extra Bold";
}

.customizTextCarat {
  float: left;
  width: 2px;
  height: 34px;
  border-radius: 26px;
  background: $rose;
  margin-left: -1px;
  position: relative;
  top: 2px;
}

.customizBodyText {
  @extend .text;
  top: 145px;
  line-height: 22px;
}

.feelingLuckySpaceBarText {
  color: $black;
  font-family: "Inter Bold";
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.nextButton {
  position: absolute;
  top: 230px;
  left: 159px;
  width: 65px;
  height: 39px;
  border: 1.5px solid $rose;
  border-radius: 7px;
  cursor: pointer;
}

.nextButtonText {
  font-size: 12px;
  text-align: center;
  margin-top: 11px;
}

.ellipseButtons {
  position: absolute;
  top: 282px;
  left: 100px;
}

.ellipseButton {
  @extend .noSelect;
  transition: background 1s ease-in-out;
  width: 9px;
  height: 9px;
  border: 1px solid $rose;
  border-radius: 50%;
  background: white;
  margin: 8px 8px;
}

.ellipseButtonTouchTarget {
  display: inline-block;
  cursor: pointer;
}

.ellipseButtonActive {
  background: $rose;
}
