$black: #2A2122;
$rose: #D1A7AC;
$submittedRose: #AB8288;

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.button {
  transition: background .15s ease-in-out;
  float: right;
  background: $rose;
  width: 60px;
  height: 56px;
  border-radius: 7px;
}

.buttonText {
  text-align: center;
  padding-top: 22px;
  font-size: 10px;
}

.input, .input:focus {
  transition: background .15s ease-in-out;
  order: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  margin: none;
  font-family: "Inter Extra Bold";
  font-size: 10px;
  color: $black;
  caret-color: $black;
  background: $rose;
  position: relative;
  top: calc(50% - 1.7ch);
  width: 100%;
}

.form {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}

.submitted {
  background: $submittedRose;
}

.lineHeightText {
  position: relative;
  top: 40%;
  margin-left: calc(15% - 1.7ch);
  font-family: "Inter Extra Bold";
  font-size: 10px;
  color: $black;
}
