$black: #2A2122;
$rose: #D1A7AC;

$settingsTopGap: 65px;

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.settings {
  transition: margin-top 300ms linear;
  position: relative;
  width: 382px;
  z-index: 10;
  margin: 0 auto;
  margin-top: 105vh;
  background: white;
  color: $black;
  box-shadow: 0px -1px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0px 0px;
  height: calc(100vh - #{$settingsTopGap});
}

.show {
  margin-top: $settingsTopGap;
}

.exitButton {
  @extend .noSelect;
  position: absolute;
  bottom: 100px;
  right: 40px;
  width: 16px;
}

.exitButtonTouchTarget {
  position: absolute;
  bottom: 100px;
  right: 23px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.container {
  @extend .noSelect;
  width: 70%;
  margin: 0 auto;
  padding-top: 60px;
}

.row {
  position: relative;
  height: 55px;
  margin-bottom: 29px;
}

.chooseFontRow {
  padding-top: 80px;
  margin-bottom: 10px;
}

.text {
  font-family: "Inter Extra Bold";
  float: left;
  padding-top: 17px;
  font-size: 18px;
}

.chooseFontText {
  float: left;
  font-size: 16px;
  margin-top: -7px;
}

.textSmall {
  font-family: "Inter Extra Bold";
  font-size: 16px;
  padding-top: 18px;
  color: rgb(175, 175, 175);
}

.caption {
  font-family: "Inter";
  font-size: 12px;
  color: rgb(175, 175, 175);
}

.inputError {
  font-size: 10px;
  font-family: "Inter";
  position: absolute;
  top: 38px;
}

.chooseFontButton {
  float: right;
  width: 60px;
  height: 56px;
}

.chooseFontButtonIcon {
  display: block;
  float: left;
  width: 12px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.chooseFontButtonText {
  float: left;
  padding-top: 20px;
  font-size: 10px;
  color: rgb(175, 175, 175);
}

.resetOnboardingButton {
  position: relative;
  margin: 0 auto;
  width: 179px;
  height: 48px;
  border: 1px solid $rose;
  border-radius: 7px;
  cursor: pointer;
}

.resetOnboardingButtonText {
  font-size: 12px;
  font-family: "Inter Bold";
  width: 100%;
  text-align: center;
  margin-top: 16px;
}
// end of iPhone 11 (default)

// After default, devices should descend from largest to smallest

// Asus laptop 13 inch
@media only screen and (min-width: 1366px) and (min-height: 640px) {
  $settingsTopGap: 20px;
  // value for bottom positioning
  $exitButtonFromBottom: 20px;
  
  .settings {
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
  .exitButton {
    bottom: $exitButtonFromBottom;
  }
  .exitButtonTouchTarget {
    bottom: calc(#{$exitButtonFromBottom} - 16px);
  }
  .chooseFontRow {
    padding-top: 5px;
  }
  .container {
    padding-top: 40px;
  }
}

// iMac
@media only screen and (min-width: 1280px) and (min-height: 720px) {
  $settingsTopGap: 40px;
  // value for bottom positioning
  $exitButtonFromBottom: 30px;
  
  .settings {
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
  .exitButton {
    bottom: 30px;
  }
  .exitButtonTouchTarget {
    bottom: calc(#{$exitButtonFromBottom} - 16px);
  }
  .chooseFontRow {
    padding-top: 20px;
  }
}
// end of iMac

// iPad Pro 11
@media only screen and (max-height: 834px) and (max-width: 1194px) and (orientation: landscape) {
  $settingsTopGap: 50px;
  // value for bottom positioning
  $exitButtonFromBottom: 50px;
  
  .settings {
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
  .exitButton {
    bottom: $exitButtonFromBottom;
  }
  .exitButtonTouchTarget {
    bottom: calc(#{$exitButtonFromBottom} - 16px);
  }
}
// end of iPad Pro 11

// iPad Air 3
@media only screen and (max-height: 731px) and (max-width: 1112px) and (orientation: landscape) {
  $settingsTopGap: 20px;
  // value for bottom positioning
  $exitButtonFromBottom: 110px;
  
  .settings {
    height: calc(100vh - #{$settingsTopGap})
  }
  .show {
    margin-top: $settingsTopGap;
  }
  .exitButton {
    bottom: $exitButtonFromBottom;
  }
  .exitButtonTouchTarget {
    bottom: calc(#{$exitButtonFromBottom} - 16px);
  }
  .chooseFontRow {
    padding-top: 30px;
  }
  .container {
    padding-top: 50px;
  }
}
// end of iPad Air 3

// Pixel 2, LG Stylo 5
@media only screen and (max-width: 412px) and (max-height: 823px) {
  $settingsTopGap: 30px;
  // value for bottom positioning
  $exitButtonFromBottom: 80px;
  
  .settings {
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
  .exitButton {
    bottom: $exitButtonFromBottom;
  }
  .exitButtonTouchTarget {
    bottom: calc(#{$exitButtonFromBottom} - 16px);
  }
  .chooseFontRow {
    padding-top: 40px;
  }
}
// End of Pixel 2

// iPhone 11 with toolbar/address bar showing
@media only screen and (max-width: 414px) and (max-height: 719px) {
  $settingsTopGap: 25px;
  // value for bottom positioning
  $exitButtonFromBottom: 90px;
  
  .settings {
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
  .exitButton {
    bottom: $exitButtonFromBottom;
  }
  .exitButtonTouchTarget {
    bottom: calc(#{$exitButtonFromBottom} - 16px);
  }
  .chooseFontRow {
    padding-top: 40px;
  }
  .container {
    padding-top: 40px;
  }
}
// end of iPhone 11 with toolbar/address bar showing

// iPhone 8 - 1
@media only screen and (max-width: 375px) and (max-height: 667px) {
  $settingsTopGap: 40px;
  
  .settings {
    width: 350px;
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
}
// end of iPhone 8 - 1 css
