$settingsTopGap: 90px;

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.settings {
  transition: margin-top .3s linear;
  position: relative;
  width: 382px;
  z-index: 10;
  margin: 0 auto;
  margin-top: 100vh;
  background: #FFFFFF;
  color: #2A2122;
  box-shadow: 0px -1px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0px 0px;
  height: calc(100vh - #{$settingsTopGap});
}

.show {
  margin-top: $settingsTopGap;
}

.exitButton {
  @extend .noSelect;
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 16px;
  cursor: pointer;
}

.container {
  @extend .noSelect;
  width: 70%;
  margin: 0 auto;
  padding-top: 60px;
}

.row {
  height: 55px;
  margin-bottom: 45px;
}

.chooseFontRow {
  padding-top: 100px;
  margin-bottom: 10px;
}

.text {
  font-family: "Inter Extra Bold";
  float: left;
  padding-top: 17px;
  font-size: 18px;
}

.button {
  float: right;
  background: #D1A7AC;
  width: 60px;
  height: 56px;
  border-radius: 7px;
}

.buttonText {
  text-align: center;
  padding-top: 22px;
  font-size: 10px;
}

.chooseFontText {
  float: left;
  font-size: 16px;
  margin-top: -7px;
}

.textSmall {
  font-family: "Inter Extra Bold";
  font-size: 16px;
  padding-top: 18px;
}

.caption {
  font-family: "Inter";
  font-size: 12px;
  color: rgb(175, 175, 175);
}

.chooseFontButton {
  float: right;
  width: 60px;
  height: 56px;
}

.chooseFontButtonIcon {
  display: block;
  float: left;
  width: 12px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: #D1A7AC;
}

.chooseFontButtonText {
  float: left;
  padding-top: 20px;
  font-size: 10px;
}
// end of iPhone 11 (default)

// After default, devices should descend from largest to smallest

// iMac
@media only screen and (min-width: 1280px) and (min-height: 720px) {
  $settingsTopGap: 40px;
  
  .settings {
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
}
// end of iMac

// iPad Pro 11
@media only screen and (min-width: 834px) and (max-width: 1194px)  {
  $settingsTopGap: 50px;
  
  .settings {
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
}
// end of iPad Pro 11

// Pixel 2, LG Stylo 5
@media only screen and (max-width: 412px) and (max-height: 823px) {
  $settingsTopGap: 30px;
  
  .settings {
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
  .exitButton {
    bottom: 80px;
  }
}
// End of Pixel 2


// iPhone 8 - 1
@media only screen and (max-width: 375px) and (max-height: 667px) {
  $settingsTopGap: 40px;
  
  .settings {
    width: 350px;
    height: calc(100vh - #{$settingsTopGap});
  }
  .show {
    margin-top: $settingsTopGap;
  }
}
// end of iPhone 8 - 1 css
