$black: #2A2122;
$pink: #D1A7AC;

.line {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: $black;
}

.lineHeight {
  transition: color .15s linear;
  color: white;
}

// shows lineHeight
.show {
  color: rgb(225, 225, 225);
}

.textInput, .textInput:focus {
  order: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  margin: none;
  color: $black;
  caret-color: $pink;
  font-family: "Inter Bold";
  float: left;
}
