$black: #2B2022;
$pink: #D1A7AC;

.output {
  position: relative;
  left: 91px;
  margin-top: 110px;
  width: calc(100vw * 1000);
  height: 248px;
  font-family: "Inter Bold";
}

.line {
  overflow: hidden;
}

.lineHeight {
  transition: color .15s linear;
  color: white;
  float: left;
}

// shows lineHeight
.show {
  color: rgb(225, 225, 225);
}

.textInput, .textInput:focus {
  order: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  margin: none;
  color: $black;
  caret-color: white;
  font-family: "Inter Bold";
  float: left;
}
// end of iPhone 11

// iMac
@media only screen and (min-width: 1280px) and (min-height: 720px) {
  .output {
    float: left;
    left: 130px;
    margin-top: 95px;
    height: 317px;
  }
}
// end of iMac


// iPad Pro 11
@media only screen and (min-width: 834px) and (max-width: 1194px)  {
  .output {
    float: left;
    margin-top: 100px;
    width: 454px;
    height: 292px;
    left: 130px;
  }
}
// end of iPad Pro 11


// iPhone 11 (landscape)
@media only screen and (orientation: landscape) and (max-width: 896px) and (max-height: 414px) {
  .output {
    float: left;
    left: 37.5px;
    margin-top: 15px;
  }
}
// end of iPhone 11 (landscape)

// Pixel 2, LG Stylo 5
@media only screen and (max-width: 412px) and (max-height: 823px) {
  .output {
    margin-top: 55px;
  }
}
// End of Pixel 2

// iPhone 8 - 1
@media only screen and (max-width: 375px) and (max-height: 667px) {
  .output {
    margin-top: 45px;
    height: 320px;
  }
}
// end of iPhone 8 - 1 css

